# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Temporary upload files
web/temp/*
!web/temp/.gitkeep

# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Scratches & Logs
*.log
